@using (Bs.Div().AddCss("master-container").Begin())
{
    using(Bs.Div().AddCss("master-row").Begin())
    {
        using (Bs.Div().SetVisibility(Visibility.HiddenMd | Visibility.HiddenSm | Visibility.HiddenXs).Begin())
        {
            @Bs.Div("Description and about")
        }
        using (Bs.Div().AddCss("repo-col").Begin())
        {
            for (int c = 0; c < 3; c++ )
            {
                using (Bs.Div().AddCss("repo-row").Begin())
                {
                    using (Bs.Div().AddCss("repo-button").Begin())
                    {
                        using (Bs.ButtonGroup().Begin())
                        {
                        @Bs.Button("134").SetIcon(Icon.TriangleTop)
                        @Bs.Button("545").SetIcon(Icon.Star).SetState(ButtonState.Primary)
                        }
                    }
                    using (Bs.Div().AddCss("repo-link").Begin())
                    {
                        using (Bs.Heading3().Begin())
                        {
                        @Bs.Link("FluentBootstrap")
                        }
                    @Bs.Div("This is the description of the product.")
                    }
                }
                @Bs.Element("hr")
            }
        }
        using (Bs.Div().SetVisibility(Visibility.HiddenMd | Visibility.HiddenSm | Visibility.HiddenXs).Begin())
        {
            <div>Readme</div>
        }
        using (Bs.Div().SetVisibility(Visibility.HiddenMd | Visibility.HiddenSm | Visibility.HiddenXs).Begin())
        {
            <div>Comments</div>
        }
    }
}